.bannerContainer{
    position: relative;
    margin-bottom: 50px;
}

#tsparticles{
    height: 100vh;
}

.bannerChild{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 50px;
}

 @media (max-width: 992px){
    .bannerContainer{
        position: relative;
    }

    #tsparticles{
        height: 100vh;
    }

    .bannerChild{
        position: absolute;
        top: 45%;
    }

    .content {
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
 }



 @media (max-width: 668px){
    .bannerContainer{
        position: relative;
    }

    #tsparticles{
        height: 100vh;
    }

    .bannerChild{
        position: absolute;
        top: 60%;
    }

    .content {
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }

    
}