.bannerContainer{
    position: relative;
}

#tsparticles{
    height: 100vh;
}

.bannerChild{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: 50px;
}

/* .typewriter{
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  } */

 @media (max-width: 992px){
    .bannerContainer{
        position: relative;
    }

    #tsparticles{
        height: 100vh;
    }

    .bannerChild{
        position: absolute;
        top: 60%;
    }

    .content {
        grid-template-columns: repeat(1,1fr);
        place-items: center;
    }
 }



 @media (max-width: 668px){
    .bannerContainer{
        position: relative;
    }

    #tsparticles{
        height: 100vh;
    }

    .bannerChild{
        position: absolute;
        top: 60%;
    }

    .content {
        grid-template-columns: repeat(1,1fr);
        /* place-items: center; */
    }

    
}