.card{
    border-radius: 4px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    border: 2px solid cyan;
}




@media(max-width: 668px){
    .services{
        padding-top: 200px;
        /* padding-bottom: 200px; */
    }
    
}