
.contact{
    background-image: #232741;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    z-index: 1;
	height: 100vh;
}
.contact::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background: #232741;
    z-index: -1;
}













/* #form{
	background: yellow;
	position: relative;
}

.form-holder {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
	max-width: 400px;
	padding: 30px;
    background: black;
	border-radius: 15px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-holder input {
	display: block;
	width: 100%;
    background: #ffffff;
	border: none;
	font-size: 16px;
	padding: 15px;
	outline: none;
	border-radius: 40px;
	color: #555;
	margin: 20px auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-holder textarea {
    background: #ffffff;
    padding: 15px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 20px;

}

.form-holder button {
	display: block;
	width: 100%;
	background: #138496;
	border: none;
	font-size: 16px;
	padding: 15px;
	outline: none;
	border-radius: 40px;
	color: white;
	margin: 20px auto;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.form-holder button:hover {
	opacity: .8;
}  */